@model List<UserApp.Models.Student>
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>StudentID </th>
        <th>StudentName </th>
        <th>Age </th>
        <th>Address</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.StudentID</td>
            <td>@s.StudentName</td>
            <td>@s.Age</td>
            <td>@s.Address</td>


        </tr>
    }



</table> 